@model OPAC.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

@*<link rel="stylesheet" href="https://getbootstrap.com/docs/4.5/examples/sign-in/signin.css">*@

<style>
    body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #B0BEC5;
    background-repeat: no-repeat
    }

    .card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px
    }

    .card2 {
        margin: 0px 40px
    }

    .logo {
        @* width: 200px; *@
        height: 50px;
        margin-top: 20px;
        margin-left: 35px
    }
    .logo1 {
        @* width: 200px; *@
        height: 50px;
        margin-top: 20px;
        margin-left: 5px
    }

    .image {
        width: 90%;
        height: auto;
    }

    .border-line {
        border-right: 1px solid #EEEEEE
    }

    .facebook {
        background-color: #3b5998;
        color: #fff;
        font-size: 18px;
        padding-top: 5px;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        cursor: pointer
    }

    .twitter {
        background-color: #1DA1F2;
        color: #fff;
        font-size: 18px;
        padding-top: 5px;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        cursor: pointer
    }

    .linkedin {
        background-color: #2867B2;
        color: #fff;
        font-size: 18px;
        padding-top: 5px;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        cursor: pointer
    }

    .line {
        height: 1px;
        width: 45%;
        background-color: #E0E0E0;
        margin-top: 10px
    }

    .or {
        width: 10%;
        font-weight: bold
    }

    .text-sm {
        font-size: 14px !important
    }

    ::placeholder {
        color: #BDBDBD;
        opacity: 1;
        font-weight: 300
    }

    :-ms-input-placeholder {
        color: #BDBDBD;
        font-weight: 300
    }

    ::-ms-input-placeholder {
        color: #BDBDBD;
        font-weight: 300
    }

    input,
    textarea {
        padding: 10px 12px 10px 12px;
        border: 1px solid lightgrey;
        border-radius: 2px;
        margin-bottom: 5px;
        margin-top: 2px;
        width: 100%;
        box-sizing: border-box;
        color: #2C3E50;
        font-size: 14px;
        letter-spacing: 1px
    }

    input:focus,
    textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #304FFE;
        outline-width: 0
    }

    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }

    a {
        color: inherit;
        cursor: pointer
    }
    a:hover {
        text-decoration:none;
    }
    .btn-blue {
        background-color: #1A237E;
        width: 150px;
        color: #fff;
        border-radius: 2px;
        transition: all .35s;
    }

    .btn-blue:hover {
        background-color: black;
        color:white;
        cursor: pointer;
        transition: all .35s;
    }

    .bg-blue {
        color: #fff;
        background-color: #1A237E
    }

    media screen and (max-width: 991px) {
        .logo {
            margin-left: 0px
        }

        .image {
            width: 300px;
            height: 220px
        }

        .border-line {
            border-right: none
        }

        .card2 {
            border-top: 1px solid #EEEEEE !important;
            margin: 0px 15px
        }
    }
</style>

<div class="res-navbar" style="z-index:3;height: 55px; background-color: darkslategrey; color:whitesmoke;">
    @{
        var tempFeatured = "";
        var tempMyBook = "";
        var tempWishlist = "";
        var tempContactUs = "";
        var tempAccount = "";
        if (ViewBag.UI == "Featured") { tempFeatured = "active"; }
        if (ViewBag.UI == "MyBook") { tempMyBook = "active"; }
        if (ViewBag.UI == "MyList") { tempWishlist = "active"; }
        if (ViewBag.UI == "ContactUs") { tempContactUs = "active"; }
        if (ViewBag.UI == "Account") { tempAccount = "active"; }

        <ul class="nav justify-content-center">
            <li class="nav-item" style="text-align: center;">
                <a href="@Url.Action("Index","Home")" class="@tempFeatured">
                    <i class="icon-star" style="font-size: x-large;"></i>
                    <br />
                    Featured
                </a>
            </li>
            <li class="nav-item" style="text-align: center;">
                <a href="@Url.Action("MyBook","Home")" class="@tempMyBook" style="width: 88px;">
                    <i class="icon-book-open" style="font-size: x-large;"></i>
                    <br />
                    My Book
                </a>
            </li>
            <li class="nav-item" style="text-align: center;">
                <a href="@Url.Action("MyList","Home")" class="@tempWishlist">
                    <i class="icon-grid" style=" font-size: x-large"></i>
                    <br />
                    My List
                </a>
            </li>
            <li class="nav-item" style="text-align: center;">
                <a href="@Url.Action("User","HelpDesk")" class="@tempContactUs">
                    <i class="icon-envelope-open" style="font-size: x-large;"></i>
                    <br />
                    Contact
                </a>
            </li>
            <li class="nav-item" style="text-align: center;">
                <a href="@Url.Action("Account","Home")" class="@tempAccount">
                    <i class="icon-user" style="font-size: x-large;"></i>
                    <br />Account
                </a>
            </li>
        </ul>
    }
</div>

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0" style="width: 100%; position: relative; background: #f5f8fd url(~/assets/images/introbg.jpg) center top no-repeat; background-size: cover;">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row">
                        <img src=@Url.Content("~/assets/images/kemen.png") class="logo">
                        <img src=@Url.Content("~/assets/images/home.png") class="logo1">
                        <h2 class="mt-4" style="padding-left: 35px; text-align: center; padding-right: 10px;">Perpustakaan Badan Penelitian dan Pengembangan Perhubungan</h>
                    </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src=@Url.Content("~/assets/images/opac.png") class="image"> </div>
                </div>
            </div>

            <div class="col-lg-6">
                <form asp-action="Login">
                    <div class="card2 card border-0 px-4 py-5" style="margin-top: 5%; margin-bottom:5%;
                                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                                -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                                -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                                border-radius: 5px;">
                        <div class="row mb-4 px-3">
                            <h2>SIGN IN</h2>
                        </div>
                        <div class="row px-3 mb-4">
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                        <div class="row px-3">
                            <label asp-for="NIP" class="mb-1"> <h6 class="mb-0 text-sm">Username</h6></label>
                            <input asp-for="NIP" class="mb-4" type="text" placeholder="Enter a Username">
                        </div>
                        <div class="row px-3">
                            <label asp-for="Password" class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label>
                            <input asp-for="Password" type="password" placeholder="Enter password">
                        </div>
                        <div class="row px-3 mb-4">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">Remember me</label>
                            </div>
                            <a href="@Url.Action("ForgotPassword","Login")" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                        </div>
                        <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Sign In</button> </div>
                        <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a href="@Url.Action("Register", "Login")" class="text-danger ">Register</a></small> </div>
                    </div>
                    @{
                        if (ViewBag.ResultCode != null)
                        {

                            if (ViewBag.ResultCode == 1)
                            {

                                <div class="div-alert">
                                    <div style="padding: 5px;">
                                        <div id="inner-message" class="alert alert-success">
                                            <button type="button" class="close" data-dismiss="alert">
                                                <i class="fa fa-times"></i>
                                            </button>
                                            @ViewBag.ResultMessage
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (ViewBag.ResultCode == 0)
                            {

                                <div class="div-alert">
                                    <div style="padding: 5px;">
                                        <div id="inner-message" class="alert alert-danger">
                                            <button type="button" class="close" data-dismiss="alert">
                                                <i class="fa fa-times"></i>
                                            </button>
                                            @ViewBag.ResultMessage
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </form>
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3">
                <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2019. All rights reserved.</small>
                <div class="social-contact ml-4 ml-sm-auto"> <span href="" class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
            </div>
        </div>
    </div>
</div>

@*<form id="form_login" asp-action="Login" class="form-signin">

        <div style="text-align: center;">
            <img class="mb-4" src="@Url.Content("~/assets/images/logo-litbang.png")" style="width:75%;">
        </div>

        <label asp-for="NIP" class="sr-only">Username</label>
        <input asp-for="NIP" type="text" class="form-control" placeholder="Username" autofocus="">

        <label asp-for="Password" class="sr-only">Password</label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Password">

        <a href="@Url.Action("ForgotPassword","Login")">Forgot Password</a>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <a href="@Url.Action("Register", "Login")" class="btn btn-lg btn-success btn-block">Register</a>

        @{
            if (ViewBag.ResultCode != null)
            {

                if (ViewBag.ResultCode == 1)
                {

                    <div class="div-alert">
                        <div style="padding: 5px;">
                            <div id="inner-message" class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert">
                                    <i class="fa fa-times"></i>
                                </button>
                                @ViewBag.ResultMessage
                            </div>
                        </div>
                    </div>
                }
                else if (ViewBag.ResultCode == 0)
                {

                    <div class="div-alert">
                        <div style="padding: 5px;">
                            <div id="inner-message" class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">
                                    <i class="fa fa-times"></i>
                                </button>
                                @ViewBag.ResultMessage
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </form>*@

<script type="text/javascript">
    /*$(document).ready(function () {

        $(".g-signin2 .abcRioButton").width("100%");
        $(".g-signin2 .abcRioButtonContents").css("font-size", "21px");
    });*/

    function onSignIn(googleUser) {

        debugger;
        var id_token = googleUser.getAuthResponse().id_token;
        var profile = googleUser.getBasicProfile();

        var url = "@Url.Action("Login", "Login")";

        var form = $('#form_login');
        var token = $('input[name="__RequestVerificationToken"]', form).val();

        $.ajax({
            type: "POST",
            url: url,
            data: {
                __RequestVerificationToken: token,
                SocmedToken: id_token,
                Email: profile.getEmail(),
                Name: profile.getName(),
                IsFromSocmed: true
            },
            success: function (data) {

                location.reload();
                //$('#div_review').html(data);
            }
        });

        /*var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.*/
    }

    function renderButton() {
        gapi.signin2.render('g-signin2', {
            'scope': 'profile email',
            'width': 300,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSignIn
            //'onfailure': onFailure
        });
    }
</script>