@model OPAC.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout_register.cshtml";

    var userProfilePic = "../Content/profpic/default.png";
}

@{
    if (ViewBag.ResultCode != null) {

        if (ViewBag.ResultCode == 1) {

            <div class="div-alert">
                <div style="padding: 5px;">
                    <div id="inner-message" class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="fa fa-times"></i>
                        </button>
                        @ViewBag.ResultMessage
                    </div>
                </div>
            </div>
        }
        else if (ViewBag.ResultCode == 0) {

            <div class="div-alert">
                <div style="padding: 5px;">
                    <div id="inner-message" class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="fa fa-times"></i>
                        </button>
                        @ViewBag.ResultMessage
                    </div>
                </div>
            </div>
        }
    }
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.css" integrity="sha512-949FvIQOibfhLTgmNws4F3DVlYz3FmCRRhJznR22hx76SKkcpZiVV5Kwo0iwK9L6BFuY+6mpdqB2+vDIGVuyHg==" crossorigin="anonymous" />

<div class="container" style="padding: 15px;">
    @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@

    <div class="row">
        <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Profile</a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <form asp-action="Register" enctype="multipart/form-data">
                        <div class="row">

                            <input type="hidden" asp-for="account.user.Photo" value=""> @* untuk by pass validasi *@
                            <div class="col-md-5">
                                <div id="card_profilePicture" class="card">
                                    <h4 class="card-header bold">
                                        Profile Picture
                                    </h4>
                                    <div class="card-body">
                                        <div class="col-md-12" style="text-align: center; padding: 20px;">
                                            <img id="img_profile" class="rounded-circle" src="@userProfilePic" width="140" height="140">
                                            <input id="img_profile_base64" type="hidden" asp-for="account.userViewModel.PhotoBase64" />
                                        </div>

                                        <div class="col-md-12" style="text-align: center; padding: 20px;">
                                            <a href="#img_profile" onclick="$('#inp_imgProfile').click();">Change Profile Picture</a>
                                            <input id="inp_imgProfile" type="file" asp-for="account.userViewModel.Photo" accept="image/*" onchange="cropImgFunc(event);" style="visibility: hidden;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="card_accountDetail" class="col-md-7">
                                <div class="card">
                                    <h4 class="card-header bold">
                                        Account Detail
                                    </h4>
                                    <div class="card-body">

                                        @* Profile *@

                                        <input type="hidden" asp-for="account.user.CreatedDate" value="2020-01-01"> @* untuk by pass validasi *@
                                        <input type="hidden" asp-for="account.user.Creator" value="sys"> @* untuk by pass validasi *@
                                        <input type="hidden" asp-for="account.user.Password" value="12345678"> @* untuk by pass validasi *@

                                        <div class="mb-3">
                                            <label asp-for="account.user.NIK">@Html.DisplayNameFor(model => model.account.user.NIK)</label>
                                            <input asp-for="account.user.NIK" type="text" class="form-control" placeholder="@Html.DisplayNameFor(model => model.account.user.NIK)">
                                            <span asp-validation-for="account.user.NIK" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                            <label asp-for="account.user.Name">@Html.DisplayNameFor(model => model.account.user.Name)</label>
                                            <input asp-for="account.user.Name" type="text" class="form-control" placeholder="@Html.DisplayNameFor(model => model.account.user.Name)">
                                            <span asp-validation-for="account.user.Name" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                            <label asp-for="account.user.NIP">@Html.DisplayNameFor(model => model.account.user.NIP)</label>
                                            <input asp-for="account.user.NIP" type="text" class="form-control" placeholder="@Html.DisplayNameFor(model => model.account.user.NIP)">
                                            <span asp-validation-for="account.user.NIP" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                            <label asp-for="account.user.Email">@Html.DisplayNameFor(model => model.account.user.Email)</label>
                                            <input asp-for="account.user.Email" type="email" class="form-control" id="inp_email" placeholder="@Html.DisplayNameFor(model => model.account.user.Email)">
                                            <span asp-validation-for="account.user.Email" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                            <label asp-for="account.user.Phone">@Html.DisplayNameFor(model => model.account.user.Phone)</label>
                                            <input asp-for="account.user.Phone" type="text" class="form-control" placeholder="@Html.DisplayNameFor(model => model.account.user.Phone)">
                                            <span asp-validation-for="account.user.Phone" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                            <label asp-for="account.user.Alamat">@Html.DisplayNameFor(model => model.account.user.Alamat)</label>
                                            <textarea asp-for="account.user.Alamat" class="form-control" placeholder="@Html.DisplayNameFor(model => model.account.user.Alamat)"></textarea>
                                            @* <input asp-for="account.user.Alamat" type="text" class="form-control" placeholder="Alamat"> *@
                                            <span asp-validation-for="account.user.Alamat" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                            <label asp-for="account.user.PendidikanTerakhir">@Html.DisplayNameFor(model => model.account.user.PendidikanTerakhir)</label>
                                            <input asp-for="account.user.PendidikanTerakhir" type="text" class="form-control" placeholder="@Html.DisplayNameFor(model => model.account.user.PendidikanTerakhir)">
                                            <span asp-validation-for="account.user.PendidikanTerakhir" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                            <label asp-for="account.user.Pekerjaan">@Html.DisplayNameFor(model => model.account.user.Pekerjaan)</label>
                                            <input asp-for="account.user.Pekerjaan" type="text" class="form-control" placeholder="@Html.DisplayNameFor(model => model.account.user.Pekerjaan)">
                                            <span asp-validation-for="account.user.Pekerjaan" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                
                                <br>

                                <div class="card">
                                    <h4 class="card-header bold">
                                        Password
                                    </h4>
                                    <div class="card-body">

                                        @* Password *@
                                        <input type="hidden" asp-for="account.changePasswordViewModel.Password" value="12345678"> @* untuk by pass validasi current password *@

                                        <div class="mb-3">
                                            <label asp-for="account.changePasswordViewModel.NewPassword">Password</label>
                                            <input asp-for="account.changePasswordViewModel.NewPassword" type="password" class="form-control" placeholder="Current Password"> @* new password jadi sebagai current password *@
                                            <span asp-validation-for="account.changePasswordViewModel.NewPassword" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3">
                                            <label asp-for="account.changePasswordViewModel.ConfirmNewPassword">Confirm Password</label>
                                            <input asp-for="account.changePasswordViewModel.ConfirmNewPassword" type="password" class="form-control" placeholder="Confirm Password">
                                            <span asp-validation-for="account.changePasswordViewModel.ConfirmNewPassword" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pull-right">
                                <button type="submit" class="btn btn-primary pull-right">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="modal show" id="modal_editImage" role="dialog" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 580px;">
            <div class="modal-header">
                <h3 class="modal-title">Edit Image</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <img class="preImg rounded-circle" id="preImg" style="display: none;">
                        <div class="result" id="inputImg"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="confirmImage();" type="button" class="btn btn-outline-success" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.js" integrity="sha512-oqBsjjSHWqkDx4UKoU+5IUZN2nW2qDp2GFSKw9+mcFm+ZywqfBKp79nfWmGPco2wzTWuE46XpjtCjZ9tFmI12g==" crossorigin="anonymous"></script>

<script type="text/javascript">
    function cropImgFunc(event) {

        $("#modal_editImage").modal("show");

        let result = document.querySelector('#inputImg'),
            imgPreview = document.querySelector('#preImg');
        if (event.target.files.length) {
            // start file reader
            const reader = new FileReader();
            reader.onload = function (event) {
                if (event.target.result) {
                    // create new image
                    let img = document.createElement('img');
                    img.id = 'image';
                    img.src = event.target.result;
                    img.width = 544;
                    img.height = 370;
                    // clean result before
                    result.innerHTML = '';
                    // append new image
                    result.appendChild(img);
                    // init cropper
                    cropper = new Cropper(img, {
                        viewMode: 1,
                        dragMode: 'move',
                        aspectRatio: 1,
                        autoCropArea: 0.68,
                        minContainerWidth: 544,
                        minContainerHeight: 370,
                        center: false,
                        zoomOnWheel: false,
                        zoomOnTouch: false,
                        cropBoxMovable: false,
                        cropBoxResizable: false,
                        guides: false,
                        ready: function (event) {
                            this.cropper = cropper;
                        },
                        crop: function (event) {
                            let imgSrc = this.cropper.getCroppedCanvas({
                                width: 170,
                                height: 170// input value
                            }).toDataURL("image/png");
                            imgPreview.src = imgSrc;
                        }
                    });

                }
            };
            reader.readAsDataURL(event.target.files[0]);
        }

        //$("#inp_imgProfile").val("");
    }

    function confirmImage() {

        var preImgSrc = $("#preImg").attr("src");
        $("#img_profile").attr("src", preImgSrc);
        $("#img_profile_base64").val(preImgSrc);
    }
</script>

<script type="text/javascript">

    $(".div-alert").fadeOut(alertDuration);

    function resizeTextarea(id) {
        $("#" + id).height("auto");
        $("#" + id).height(document.getElementById(id).scrollHeight);
    }

    $("textarea").keyup(function () {
        resizeTextarea($(this).attr("id"))
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
                $('#img_profile').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#inp_imgProfile").change(function() {
        readURL(this);
    });

    $("#card_profilePicture").height($("#card_accountDetail").height());
</script>