@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var bookCover = "../" + ViewBag.DetailBooksData.GetType().GetProperty("BookCover").GetValue(ViewBag.DetailBooksData, null);
    var bookID = ViewBag.DetailBooksData.GetType().GetProperty("BookID").GetValue(ViewBag.DetailBooksData, null);
    var bookTransID = ViewBag.DetailBooksData.GetType().GetProperty("BookTransID").GetValue(ViewBag.DetailBooksData, null);
    var userID = 1;
    var bookTransFlag = ViewBag.DetailBooksData.GetType().GetProperty("BookTransFlag").GetValue(ViewBag.DetailBooksData, null);

    var bookAuthor = ViewBag.DetailBooksData.GetType().GetProperty("BookAuthor").GetValue(ViewBag.DetailBooksData, null);
    var bookAuthorID = ViewBag.DetailBooksData.GetType().GetProperty("BookAuthorID").GetValue(ViewBag.DetailBooksData, null);

    var addToMyList_html = "";
    if (bookTransFlag == 0) {
        addToMyList_html = "ADD TO MY LIST";
    }
    else {
        addToMyList_html = "REMOVE FROM MY LIST";
    }
}

<input id="hidden_bookTransFlag" type="hidden" value="@bookTransFlag">

<div class="row" style="margin-bottom: 25px;">
    <div class="jumbotron myDiv" style="background: black; height: 300px; width: 100%; border-radius: 0; line-height: 2;">
        <div class="row">
            <a href="@Url.Action("Index","Home")" class="fa fa-arrow-left" style="color:white;font-size: x-large;padding-left: 15px;float: left;"></a>
            <a class="fa fa-share-alt" style="color:white;font-size: x-large;right: 15px;position: absolute;"></a>
        </div>

        <div class="bg" style="background: Url(@Url.Content(bookCover)) center center;"></div>
        <h3 style="color: white; padding-top: 25px;">@ViewBag.DetailBooksData.GetType().GetProperty("BookTitle").GetValue(ViewBag.DetailBooksData, null)</h3>
        @* <p style="color:white;font-size:14px">Bring your imagination to life!</p> *@

        <div class="row">
            <div class="col-md-12">
                <a href="javascript:;" class="btn btn-circle btn-xs white" style="background-color: #fff0;">
                    <i class="fa fa-star" style="color:white;"></i><span style="color:white;"> @ViewBag.DetailBooksData.GetType().GetProperty("BookRating").GetValue(ViewBag.DetailBooksData, null)</span>
                </a>
                <a href="javascript:;" class="btn btn-circle btn-xs white" style="background-color: #fff0;">
                    <i class="fa fa-user" style="color:white;"></i><span style="color:white;"> @ViewBag.DetailBooksData.GetType().GetProperty("TotalView").GetValue(ViewBag.DetailBooksData, null) Viewed</span>
                </a>
                <a asp-action="Author" asp-controller="Home" asp-route-id="@bookAuthorID" class="btn btn-circle btn-xs white" style="background-color: #fff0;">
                    <span style="color:white;">Created by @bookAuthor</span>
                </a>
                @* <a href="javascript:;" class="btn btn-circle btn-xs white" style="background-color: #fff0;">
                    <span style="color:white;">Updated 05/2020</span>
                </a>
                <a href="javascript:;" class="btn btn-circle btn-xs white" style="background-color: #fff0;">
                    <i class="fa fa-map" style="color:white;"></i><span style="color:white;"> Perpustakaan Nasional</span>
                </a> *@
            </div>
        </div>

        <div class="row" style="margin-top: 20px;text-align: center;display: block;">
            <img src="@Url.Content(bookCover)"/>
        </div>
    </div>
</div>

<div id="div_alert">
    @* by js *@
</div>

<div class="row" style="padding: 10px;">
    <div class="col-md-12" style="padding: 5px 2px 5px 0px;text-align:center;margin-bottom: 10px;">
        <span>Available (1)</span> &nbsp;&nbsp; 
        <button type="button" class="btn btn-circle btn-info" style="font-size: smaller;height: 40px;">SHOW LOCATION</button>
    </div>

    <div class="col-md-3"></div>
    <div class="col-md-6">
        @* <input type="button" class="btn red btn-block" value="READ NOW"> *@
        @using (Html.BeginForm("Read", "Home", FormMethod.Post ))
        {
            <input type="submit" class="btn red btn-block" value="READ NOW"/> 
            <input type="hidden" name="bookID" value="@bookID" />
            <input type="hidden" name="bookTransID" value="@bookTransID" />
        }
    </div>
    <div class="col-md-3"></div>

    <div class="col-md-3"></div>
    @* <div class="col-md-3" style="padding-top: 5px;">
        <button type="button" class="btn btn-info" style="width: 100%;font-size: smaller;height: 40px;">BORROW THIS BOOK</button>
    </div> *@
    <div class="col-md-6" style="padding-top: 5px;">
        <a id="btn_addToMyList" type="button" class="btn btn-info" style="height: 40px;width: 100%;color: white;">
            @addToMyList_html
        </a>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="portlet solid white" style="padding: 0px 15px 15px 15px; min-height: 100px;">
            <div class="portlet-title">
                <div class="caption">
                    What Will I Learn
                </div>
            </div>
            <div class="portlet-body">
                @foreach(var item in ViewBag.DetailBookLearns) {
                    <div class="row">
                        <div class="d-inline" style="padding-left: 15px; padding-right: 15px;"><i class="fa fa-check" style="color:green"></i></div>
                        <div class="d-inline">@item.GetType().GetProperty("Description").GetValue(item, null)</div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet solid white" style="padding: 0px 15px 15px 15px; min-height: 100px;">
            <div class="portlet-title">
                <div class="caption">
                    Requirements
                </div>
            </div>
            <div class="portlet-body">
                @foreach(var item in ViewBag.DetailBookRequirements) {
                    <div class="row">
                        <div class="d-inline" style="padding-left: 15px; padding-right: 15px;"><i class="fa fa-check" style="color:green"></i></div>
                        <div class="d-inline">@item.GetType().GetProperty("Description").GetValue(item, null)</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet solid white" style="padding: 0px 15px 15px 15px;">
            <div class="portlet-title">
                <div class="caption">
                    Description
                </div>
            </div>
            <div class="portlet-body">
                <p>@ViewBag.DetailBooksData.GetType().GetProperty("BookDesc").GetValue(ViewBag.DetailBooksData, null)</p>
            </div>
        </div>
    </div>
</div>

@* <div class="row" style="padding: 0px 10px 10px 10px;">
    <div class="portlet solid white" style="padding: 0px 15px 15px 15px;margin-bottom: 0;">
        <div class="portlet-title">
            <div class="caption">
                Created by @ViewBag.DetailBooksData.GetType().GetProperty("BookAuthor").GetValue(ViewBag.DetailBooksData, null)
            </div>
        </div>
        <div class="portlet-body">
            <div class="col-xs-3" style="padding:0"><img src="@Url.Content(ViewBag.DetailBooksData.GetType().GetProperty("BookCover").GetValue(ViewBag.DetailBooksData, null))" style="max-width:80px"></img></div>
            <div class="col-xs-9" style="padding:0">
                <div class="col-xs-12"><i class="fa fa-user"></i>&nbsp;&nbsp; 145.000 Viewed</div>
                <div class="col-xs-12"><i class="fa fa-book"></i>&nbsp;&nbsp;  15 Books</div>
                <div class="col-xs-12"><i class="fa fa-star"></i>&nbsp;&nbsp;  4.5 Average Rating</div>
            </div>
        </div>
    </div>
</div> *@

<div id="div_review">
    @* loadReview() *@
</div>

<script type="text/javascript">

    var urlUserReview = "@Url.Action("UserReview", "Home")";

    function loadReview () {

        $("#div_review").html('<p style="padding-left:15px;"><i class="fa fa-spin fa-spinner"></i> Please wait while we do something...</p>');

        var bookID = @bookID;

        $.ajax({  
            type: "POST",  
            url: urlUserReview,  
            data: {
                bookID: bookID
            },//JSON.stringify(BookTransaction),  
            success: function (data) {  
                
                $('#div_review').html(data);
            }
        });  
    }
    loadReview();

    $("#btn_addToMyList").click(function () {  

        var userId = @userID;
        var bookID = @bookID;
        var flag = $("#hidden_bookTransFlag").val();
        var btn_addToMyList_html = "@addToMyList_html";
        var alert_html = "";

        /* var BookTransaction = new Object();
        BookTransaction.ID = id;
        BookTransaction.Flag = 1; */

        var url = "@Url.Action("AddToMyList", "Home")";

        if (flag == 0) {

            flag = 1;
            btn_addToMyList_html = "REMOVE FROM MY LIST";
            alert_html = "Added to my list !";
        }
        else {

            flag = 0;
            btn_addToMyList_html = "ADD TO MY LIST";
            alert_html = "Removed from my list !";
        }

        $.ajax({  
            type: "POST",  
            url: url,  
            data: {
                UserID: userId, 
                BookID: bookID,
                Flag: flag
            },//JSON.stringify(BookTransaction),  
            dataType: "json",  
            success: function (data) {  
                //debugger;
                if (data.status == 1) {

                    $("#div_alert").html('<div class="alert alert-success" role="alert">' +
                                            alert_html +
                                        '</div>');
                    $("#div_alert").fadeIn(500);

                    setTimeout(function() {
                        $("#div_alert").fadeOut(500);
                    }, 3000);

                    $("#hidden_bookTransFlag").val(flag);
                    $("#btn_addToMyList").html(btn_addToMyList_html);
                }
            },  
            error: function (ex) {  
                alert("Error while updating data");  
            }  
        });  
        return false;  
    });  
</script>  