@* @model IEnumerable<OPAC.Models.Book> *@

@{
    var bookCoverPath = "../Content/cover/";
    var bookCover = "";
    var bookAuthorID = 0;
}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption" style="padding-left: 15px;">
            <h4 style="margin: 0;">New Arrival</h4>
        </div>
    </div>
    <div class="portlet-body" style="padding-top:0">

        <div class="container-fluid">
            <!-- Three columns of text below the carousel -->
            <div class="row">

                @{
                    if (ViewBag.LoadingNewArrival != null)
                    {
                        if (ViewBag.NewArrival != null)
                        {
                            <div class="table-scrollable" style="border:none;margin: 0 !important;">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            @foreach (var item in ViewBag.NewArrivalData) {

                                                bookCover = bookCoverPath + item.GetType().GetProperty("BookCover").GetValue(item, null);
                                                bookAuthorID = item.GetType().GetProperty("BookAuthorID").GetValue(item, null);

                                                <td style="border:none;padding: 0;padding-left: 15px;">
                                                    <div class="mt-element-card mt-element-overlay" style="width:200px">
                                                        <div class="mt-card-item" style="border: none;margin:0">
                                                            <div class="mt-card-avatar mt-overlay-1">
                                                                @* <a href="@Url.Action("Detail", "Home")">
                                                                    <img src="@item.GetType().GetProperty("BookCover").GetValue(item, null)" />
                                                                </a> *@
                                                                <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.GetType().GetProperty("BookID").GetValue(item, null)">
                                                                    <img src="@bookCover" style="height: 160px;" />
                                                                </a>
                                                            </div>
                                                            <div class="mt-card-content">
                                                                <div class="row">
                                                                    <div class="col-md-12" style="text-align: center;">
                                                                        <div class="mt-card-social">
                                                                            @item.GetType().GetProperty("BookRating").GetValue(item, null) <i class="fa fa-star" style="color:gold"></i> | 
                                                                            @item.GetType().GetProperty("TotalReviewer").GetValue(item, null) reviews | 
                                                                            <span class="mt-card-desc">
                                                                                <a asp-action="Author" asp-controller="Home" asp-route-id="@bookAuthorID" style="color:#212529">@item.GetType().GetProperty("BookAuthor").GetValue(item, null)</a>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="padding-top: 5px;padding-left: 15px;">
                                                                    <p class="mt-card-desc">
                                                                        @* <a href="@Url.Action("Detail", "Home")" style="color:#212529">@item.GetType().GetProperty("BookDesc").GetValue(item, null)</a> *@
                                                                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.GetType().GetProperty("BookID").GetValue(item, null)" style="color:#212529">
                                                                            @item.GetType().GetProperty("BookDesc").GetValue(item, null)
                                                                        </a>
                                                                    </p>      
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                            <td style="vertical-align: middle;padding-left: 30px;border: none;">
                                                @* <button type="button" class="btn default btn-lg">See All</button> *@
                                                <a class="btn default btn-lg" asp-controller="Home" asp-action="AllBooks" asp-route-id="1">
                                                    See All
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <span class="alert alert-danger" style="padding-left:15px;">No available New Arrival!</span>
                        }
                    }
                    else
                    {
                        <p style="padding-left:15px;"><i class="fa fa-spin fa-spinner"></i> Please wait while we do something...</p>
                    }
                }
            </div>
        </div>

        @*@{
            if (ViewBag.LoadingNewArrival != null)
            {
                if (ViewBag.NewArrival != null)
                {
                    <div class="table-scrollable" style="border:none;margin: 0 !important;">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td style="border:none;padding: 0;padding-left: 15px;">
                                        <div class="mt-element-card mt-element-overlay" style="width:200px">
                                            <div class="mt-card-item" style="border: none;margin:0">
                                                <div class="mt-card-avatar mt-overlay-1">
                                                    <img src="../assets/images/book1.jpg" />
                                                    <div class="mt-overlay">
                                                        <ul class="mt-info">
                                                            <li>
                                                                <a href="@Url.Action("Detail","Home")" class="btn default btn-outline" href="javascript:;">
                                                                    <i class="icon-magnifier"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="@Url.Action("Detail","Home")" class="btn default btn-outline" href="javascript:;">
                                                                    <i class="icon-link"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="mt-card-content" style="text-align:left">
                                                    <p class="mt-card-desc"><a href="@Url.Action("Detail","Home")" style="color:#212529">Photorealistic Digital Painting From Beginner To Advanced</a></p>
                                                    <p class="mt-card-desc"><a href="@Url.Action("Detail","Home")" style="color:#212529">Austin Batchelor</a></p>
                                                    <div class="mt-card-social">
                                                        <ul>
                                                            <li>
                                                                <i class="fa fa-star" style="color:gold"></i>
                                                                <i class="fa fa-star" style="color:gold"></i>
                                                                <i class="fa fa-star" style="color:gold"></i>
                                                                <i class="fa fa-star" style="color:gold"></i>
                                                                <i class="fa fa-star-half" style="color:gold"></i>
                                                            </li>
                                                            <li>
                                                                <span style="font-size: 12px;"> 4.5 (50.000)</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="border:none;padding: 0;padding-left: 15px;">
                                        <div class="mt-element-card mt-element-overlay" style="width:200px">
                                            <div class="mt-card-item" style="border: none;margin:0">
                                                <div class="mt-card-avatar mt-overlay-1">
                                                    <img src="../assets/images/book2.jpg" />
                                                    <div class="mt-overlay">
                                                        <ul class="mt-info">
                                                            <li>
                                                                <a class="btn default btn-outline" href="javascript:;">
                                                                    <i class="icon-magnifier"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="btn default btn-outline" href="javascript:;">
                                                                    <i class="icon-link"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="mt-card-content" style="text-align:left">
                                                    <p class="mt-card-desc">Docker Mastery: with Kubernetes +Swarm from a Docker Captain</p>
                                                    <p class="mt-card-desc font-grey-mint">Bret Fisher, Docker Captain Program</p>
                                                    <div class="mt-card-social">
                                                        <ul>
                                                            <li>
                                                                <i class="fa fa-star" style="color:gold"></i>
                                                                <i class="fa fa-star" style="color:gold"></i>
                                                                <i class="fa fa-star" style="color:gold"></i>
                                                                <i class="fa fa-star" style="color:gold"></i>
                                                                <i class="fa fa-star-half" style="color:gold"></i>
                                                            </li>
                                                            <li>
                                                                <span style="font-size: 12px;"> 4.5 (50.000)</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: middle;padding-left: 30px;border: none;">
                                        <button type="button" class="btn default btn-lg">See All</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <span class="alert alert-danger" style="padding-left:15px;">No available New Arrival!</span>
                }
            }
            else
            {
                <p style="padding-left:15px;"><i class="fa fa-spin fa-spinner"></i> Please wait while we do something...</p>
            }
        }*@
    </div>
</div>